.employeetable {
  padding: 2rem;
  /* width: 80%; */
}
.addemployeeform {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: auto;
}
.formtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btnupdate{
    display: flex;
    column-gap: 2%;
}
.addbtn{
    display: flex;
    justify-content: space-between;
}